@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 31 58% 87%;
    --foreground: 24 10% 10%;
    --card: 31 58% 92%;
    --card-foreground: 24 10% 10%;
    --popover: 31 58% 92%;
    --popover-foreground: 24 10% 10%;
    --primary: 36 100% 60%;
    --primary-foreground: 24 10% 10%;
    --secondary: 31 40% 82%;
    --secondary-foreground: 24 10% 10%;
    --muted: 31 40% 82%;
    --muted-foreground: 24 10% 30%;
    --accent: 27 65% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 31 30% 75%;
    --input: 31 30% 80%;
    --ring: 36 100% 60%;
    --chart-1: 36 100% 60%;
    --chart-2: 27 65% 52%;
    --chart-3: 31 58% 87%;
    --chart-4: 24 10% 10%;
    --chart-5: 31 40% 82%;
    --radius: 0.5rem;
    --sidebar-background: 31 58% 94%;
    --sidebar-foreground: 24 10% 20%;
    --sidebar-primary: 36 100% 60%;
    --sidebar-primary-foreground: 24 10% 10%;
    --sidebar-accent: 31 50% 85%;
    --sidebar-accent-foreground: 24 10% 10%;
    --sidebar-border: 31 30% 80%;
    --sidebar-ring: 36 100% 60%;
  }
  .dark {
    --background: 24 10% 10%;
    --foreground: 31 58% 87%;
    --card: 24 10% 15%;
    --card-foreground: 31 58% 87%;
    --popover: 24 10% 15%;
    --popover-foreground: 31 58% 87%;
    --primary: 36 100% 60%;
    --primary-foreground: 24 10% 10%;
    --secondary: 24 10% 20%;
    --secondary-foreground: 31 58% 87%;
    --muted: 24 10% 20%;
    --muted-foreground: 31 58% 70%;
    --accent: 27 65% 52%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 10% 25%;
    --input: 24 10% 25%;
    --ring: 36 100% 60%;
    --chart-1: 36 100% 60%;
    --chart-2: 27 65% 52%;
    --chart-3: 31 58% 87%;
    --chart-4: 24 10% 10%;
    --chart-5: 31 40% 82%;
    --sidebar-background: 24 10% 13%;
    --sidebar-foreground: 31 58% 87%;
    --sidebar-primary: 36 100% 60%;
    --sidebar-primary-foreground: 24 10% 10%;
    --sidebar-accent: 24 10% 20%;
    --sidebar-accent-foreground: 31 58% 95%;
    --sidebar-border: 24 10% 25%;
    --sidebar-ring: 36 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
